.version__wrapper {
    background: var(--dark-gray);
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 7px;
    border-radius: 4px;
    display: flex;
    z-index: 3;
}

.version__healthcheck {

}

.version {
    color: var(--gray);
}

.builton {
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.7;
    z-index: 3;
}

.builton__link {
    display: inline-block;
}

.builton__logo {
    width: 140px;
}

@media screen and (max-width: 767px) {
    .builton {
        display: none;
    }
}